@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto Mono", monospace;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@utility range-input {
  &:focus {
    outline: none;
  }

  &[type="range"]::-webkit-slider-thumb {
    @apply size-3.5 cursor-pointer appearance-none rounded-full bg-pink-600;
  }

  &[type="range"]:focus::-webkit-slider-thumb {
    @apply size-3 outline outline-offset-1 outline-pink-600;
  }
}

@utility progress-bar {
  @apply h-2 w-full;

  &::-webkit-progress-bar {
    @apply rounded-full bg-slate-300;
  }
  &::-webkit-progress-value {
    @apply h-full rounded-full bg-teal-500;
  }
}
