@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto Mono", monospace;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
